---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

import Nav from '../components/Nav.astro'
import Bento from '../components/Bento.astro';
import PruebaScroll from '../components/PruebaScroll.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Nav/>
		<Hero/>
		<!-- <Bento/> -->
		<PruebaScroll/>
	</main>
</Layout>


