---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroSection from '../components/sections/landing/HeroSection.astro';
import ClientsSection from "../components/sections/landing/ClientsSection.astro";


const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle={pageTitle}>

  
  <HeroSection
    title=`Hinchas de <span class="text-sky-500">Belgrano</span>`
    subTitle="Políticamente Incorrectos"
  />

  <ClientsSection
  title="Trusted by Industry Leaders"
  subTitle="Experience the reliability chosen by industry giants."
/>


</BaseLayout>