---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/sections/landing/HeroSection.astro";
import ClientsSection from "../components/sections/landing/ClientsSection.astro";
import NextMatch from "@/components/sections/landing/NextMatch.astro";

const pageTitle = "Página de inicio";
---

<BaseLayout pageTitle={pageTitle}>
  <HeroSection
    title=`Hinchas de <span class="text-sky-500">Belgrano</span>`
    subTitle="Políticamente Incorrectos"
  />

  <ClientsSection title="Nuestros sponsors" />

  <NextMatch title=`Próximo <span class="text-primary">partido`/>

</BaseLayout>
