---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

import Nav from '../components/Nav.astro'
import Bento from '../components/Bento.astro';
import CABNextMatchTeam from '../components/CABNextMatchTeam.astro';
---

<Layout title="Welcome to Astro.">
	<>
		<Nav/>
		<Hero/>
		<Bento/>
		<CABNextMatchTeam>
	</main>
</Layout>


