---

import BentoItem from "./BentoItem.astro";

---

<section class="p-4 w-full max-w-[1400px] mx-auto md:p-12">

    <div class={`overflow-scroll scrollbar-hide flex md:grid md:grid-cols-10 auto-rows-[10rem] md:auto-rows-[25rem] gap-4 text-gray-100"`}>

        <BentoItem />

    </div>

</section>
