---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---

<footer>
  <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="Twitter" username="lucianobustos16" />
  <Social platform="github" username="lucianobustos16" />
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>