<div class="flex col-span-4 flex-col">
    <h4 class="font-bold">Equipos</h4>

    <div class="overflow-scroll p-4 scrollbar-hide">
        <div class="swiper w-full h-full flex gap-2 snap-mandatory scroll-m-4">
            <a href="#">
                <div class="swiper-wrapper snap-start">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="swiper-wrapper snap-start ">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="swiper-wrapper snap-start">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="swiper-wrapper snap-start">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="swiper-wrapper snap-start">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="swiper-wrapper snap-start">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="swiper-wrapper snap-start">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="swiper-wrapper snap-start">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="swiper-wrapper snap-start">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="swiper-wrapper snap-start">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="swiper-wrapper snap-start">
                    <div class="bg-white w-16 h-16 p-2 rounded-lg shadow-md">
                        <img
                            src=""
                            alt={`Escudo de`}
                            class="bg-red-500"
                            width="48"
                            height="48"
                        />
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
