---

---

<div class="w-full absolute top-0 -z-10">
    <video 
        class="w-full h-screen lg:blur-[4px] object-cover animate-fade animate-duration-1000 animate-ease-in-out contrast-125"
        src="/video.mp4"
        autoplay loop muted>
    </video>

</div>