---

---

<div class="w-full absolute top-0 -z-10">
    <video 
        class="w-full h-screen blur object-cover animate-fade animate-duration-1000 animate-ease-in-out"
        src="/video.mp4"
        autoplay loop muted></video>
    <!-- <video 
        class="w-full absolute -bottom-48 blur-3xl -z-40"
        src="/video.mp4"
        autoplay loop muted
        ></video> -->

</div>